.header-tagline {
  font-size: 1.375rem;
  line-height: 1.2;
}

.header-title {
  font-size: 1.75rem;
  line-height: 1.15;
}

@media (min-width: 640px) {
  .header-tagline {
    font-size: 2rem;
  }

  .header-title {
    font-size: 2.5rem;
  }
}
