@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);

  --color-nc-white: #fffffe;
  --color-nc-dark: #121826;
  --color-nc-medium: #364153;
  --color-nc-light: #ced6e1;
  --color-nc-blue: #406aff;
}

body {
  background-color: #f8f7fe;
  color: #121826;
}

/* 4-pointed decorative star */
.deco-star {
  clip-path: polygon(
    50% 0%,
    54% 44%,
    100% 50%,
    54% 56%,
    50% 100%,
    46% 56%,
    0% 50%,
    46% 44%
  );
}
